*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #F3F2EF;
}

main{
    height: 100vw;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-content: center;
}

.container{
    margin-top: 40px;
    max-width: 80vw;
    width: 70%;
    height: 30vw;
    display: grid;
    grid-template-columns: 60% 1fr;
}

.box-container-1{
    background-color: black;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.box-foto{
    margin-top: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.box-foto img{
    margin-top: 3vw;
    width: 99%;
}

.box-container-2{
    border: 1px solid #E0DFDC;
    background-color: white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


.box-usuario{
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 0.3vw;
    display: flex;
    font-size: 0.9vw;
    font-weight: bold;
}

.box-usuario img{
    height: 3vw;
    border-radius: 50%;
    margin-right: 10px;
}

.box-usuario span{
    margin-top: 10px;
}

.box-introducao-usuario{
    margin-left: 1.5vw;
    margin-top: 1vw;
    margin-bottom: 10px;
    font-size: 0.8vw;
}

.box-introducao-usuario a{
    font-weight: bold;
}

.box-interacao{
    margin-left: 1.5vw;
    margin-bottom: 20px;
    width: 3vw;
    display: flex;
    justify-content: center;
    padding-top: 0.5vw;
    font-size: 0.8vw;
}

.box-interacao img {
    height: 0.8vw;
    margin-right: 2px;
}

.box-interacao:hover{
    background-color: #F3F2EF;
}

.box-interacao img:hover{
    cursor:pointer;
}

.box-publicacao-usuario{
    margin-left: 1.5vw;
    margin-bottom: 3.5vw;
}

.box-publicacao-usuario input{
    width: 95%;
    height: 2vw;
    padding-left: 1.5vw;
    border: 1px solid #E0DFDC;
    margin-bottom: 0.5vw;
    background-color: #F3F2EF;
    border-radius: 16px;
}

.box-publicacao-usuario input:hover{
    background-color: #E8E7E4;
}

.box-publicacao-usuario button{
    width: 10vw;
    height: 1.5vw;
    border: none;
    margin-bottom: 1vw;
    margin-left: 1vw;
    background-color: #0A66C2;
    color: white;
    border-radius: 12px; 
}

.box-publicacao-usuario button:hover{
    cursor: pointer;
    border: white;
    color: black;
    font-weight: bold;
    background-color: #0C7AE8;
}

.box-publicacao-usuario button:active{
    color: white;
    font-weight: bold;
    background-color: #0957A6;
}

.box-publicacao-usuario p{
    margin-bottom: 1vw;
    font-size: 0.8vw;
    margin-left: 1vw;
    background-color: #F3F2EF;
    width: 80%;
    height: 1.8vw;
    border-radius: 12px;
    padding-left: 1vw;
    padding-top: 0.3vw;
}





